/* **** GLOBAL **** */
#wrapper {
  margin-bottom: 50px;
}

/* **** NAV **** */
.nav-wrapper {
  margin-bottom: 20px;
}

.logo-grid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 75px 1fr 100px 1fr 75px 1fr;
}

.logo-image-grid {
  grid-column-start: 4;
}

.logo-image {
  max-width: 100%;
}

.login-btn {
  grid-column-start: 6;
  justify-self: center;
  align-self: center;
}

.nav-grid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 5% repeat(4, 1fr) 5%;
}

.nav-link-1 {
  grid-column-start: 2;
}

[class^="nav-link"] {
  justify-self: center;
}

/* **** ABOUT **** */
.about-grid {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 3;
}

.about-grid > * {
  grid-column-start: 2;
  justify-self: center
}

.about-headline {
  margin: 20px 0px;
}

.about-sub {
  margin: 20px 0px;
}

.about-button {
  margin: 20px 0px;
}

/* **** PODCAST **** */
.podcast-grid {
  margin: 0 5%
}

.pod-form-grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2
}

.pod-headline {
  margin: 20px 0px 10px;
  text-align: center
}

.pod-sub {
  text-align: center;
}

.pod-button {
  justify-self: center;
}

.form-item {
  margin: 10px 0px;
}

/* **** ADVERTISE GRID **** */
.adv-grid {
  display: grid;
  grid-template-columns: 5% 3fr 2fr 5%;
}

.adv-copy {
  grid-column-start: 2;
  /* margin-top: 20%; */
}

.adv-image {
  grid-column-start: 3
}

.stock-photo {
  max-width: 100%;
}

/* **** CONTACT GRID **** */
.contact-grid {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

.contact-grid > * {
  grid-column-start: 2;
  justify-self: center
}

.contact-grid > h1 {
  margin-top: 20px;
}
